@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700');
.welcome {
    display: none;
    width: 100%;
    text-align: center;
    font-size: 4vw;
    font-family: 'Amatic SC', cursive;
}

#todolist {
    margin-left: 20vw;
    display: none;
    color: green;
    width: 100%;
 
    font-size: 3.5vw;
    font-family: 'Amatic SC', cursive;

}

#todolist h2 {
    font-size: 3vw;
    color:red;
}